*

# What to include?
!cppTools.py
!main.py
!.vscode
!.gitignore
!readme.md
!clean.bat
!install_judge.bat
!judge.bat
!/Plagi_Checker/DolosAPI/dolos.py
!/Plagi_Checker/
!/Plagi_Checker/DolosAPI/
!/Plagi_Checker/main.py